@import url("http://fonts.googleapis.com/css?family=Mr+Dafoe");
@import url("http://fonts.googleapis.com/css?family=Titillium+Web:900");
@import url("http://fonts.googleapis.com/css?family=Righteous");
@import url("http://fonts.googleapis.com/css?family=Candal");
@import url("http://fonts.googleapis.com/css?family=Permanent+Marker");
@import url("http://fonts.googleapis.com/css?family=Monoton");

body {
  position: relative;
  color: #fff;
  background: #000;
}
* {
  font-family: "Permanent Marker", cursive;
  font-size: 20px;
  letter-spacing: 3px;
}

.chrome {
  position: relative;
  margin: 0;
  font-family: "Titillium Web", sans-serif;
  font-size: 150px;
  font-style: italic;
  line-height: 1;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 4px #f5f5f5;
}

.dreams {
  position: absolute;
  z-index: 20;
  margin: 0;
  margin-top: -20px;
  margin-left: 400px;
  font-family: "Mr Dafoe", cursive;
  font-size: 160px;
  color: #f975f7;
  filter: drop-shadow(2px 2px 20px #f008b7);
  transform: rotate(-15deg);
  -webkit-text-stroke: 1px palevioletred;
}

.windows .dreams {
  -webkit-text-stroke: rgb(40, 7, 71);
}
